.status {
  position: fixed;
  font-size: small;
  top: 0;
  padding: 3px;
  width: 40%;
  left: 30%;
  text-align: center;
  color: #000000;
  font-weight: bold;
  z-index: 100;
}

.status a {
  color: #000000;
}

.invisible {
  visibility: hidden;
}

.ok {
  background-color: rgba(0, 255, 0, 0.5);
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
}

.message {
  background-color: rgba(255, 255, 0, 0.5);
}

.status-message {
  padding: 3px;
}

.english {
  text-align: left;
}

.login-info {
  text-align: left;
  font-size: small;
}

.console {
  width: 80vw;
  position: relative;
  left: 50%;
}

.console th {
  text-align: center;
  padding: 2px;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.console td {
  text-align: right;
  padding: 2px;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.console ul {
  list-style: none;
  margin: 0;
  padding: 1px;
}

.small-form input[type="text"], .small-form input:not([type]), .small-form select {
  width: 100px !important;
}

.program-column-right {
  display: inline-table;
  width: 68%;
}

.program-column-left {
  display: inline-table;
  width: 28%;
}

.program-entry div {
  position: relative;
}

.program-entry {
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.filters div {
  display: inline-table;
  width: 30%;
}

.filter select {
  width: auto;
  display: block;
  margin-right: 5px !important;
}

.filter span {
  display: inline-table;
}

.teaser {
  white-space: pre-wrap;
}

.controll-center {
  text-align: center;
}

.contoll-fancybox-l1 {
  width: auto;
  height: auto;
  display: block;
}

.contoll-fancybox-l2 {
  width: 530px;
  height: auto;
  position: absolute;
  top: 109px;
  left: 687px;
  opacity: 1;
  overflow: visible;
}

.contoll-fancybox-l3 {
  padding: 15px;
  width: auto;
  height: auto;
}

.contoll-fancybox-l5 {
  overflow: auto;
  width: 500px;
  height: auto;
}

.contoll-fancybox-l6 {
  width: 500px;
  display: block;
}
