.status {
  position: fixed;
  font-size: small;
  top: 0;
  padding: 3px;
  width: 40%;
  left: 30%;
  text-align: center;
  color: #000000;
  font-weight: bold;
  z-index: 100;
}

.status a {
  color: #000000;
}

.invisible {
  visibility: hidden;
}

.ok {
  background-color: rgba(0, 255, 0, 0.5);
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
}

.message {
  background-color: rgba(255, 255, 0, 0.5);
}

.status-message {
  padding: 3px;
}

.english {
  text-align: left;
}

.login-info {
  text-align: left;
  font-size: small;
}

.console {
  width: 80vw;
  position: relative;
  left: 50%;
}

.console th {
  text-align: center;
  padding: 2px;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.console td {
  text-align: right;
  padding: 2px;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.console ul {
  list-style: none;
  margin: 0;
  padding: 1px;
}

.small-form input[type="text"], select {
  width: 100px !important;
}

.program-column-right {
  display: inline-table;
  width: 68%;
}

.program-column-left {
  display: inline-table;
  width: 28%;
}

.program-entry div {
  position: relative;
}

.program-entry {
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

