<html ng-app="bigorApp" dir="rtl" lang="he-IL">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <link rel="icon" href="/controll/assets/images/favicon.png" />
  <script charset="UTF-8" src="/controll/assets/js/angular.js"></script>
  <script charset="UTF-8" src="/controll/assets/js/angular-route.js"></script>
  <script charset="UTF-8" src="/controll/app/app.module.js"></script>
  <script charset="UTF-8" src="/controll/app/app.route.js"></script>
  <script charset="UTF-8" src="/controll/app/components/home/controllers.js"></script>
  <script charset="UTF-8" src="/controll/app/components/user/registration/controller.js"></script>
  <script charset="UTF-8" src="/controll/app/components/activity/edit/controller.js"></script>
  <script charset="UTF-8" src="/controll/app/components/activity/list/controller.js"></script>
  <script charset="UTF-8" src="/controll/app/components/activity/registration/controller.js"></script>
  <script charset="UTF-8" src="/controll/app/components/activity/service.js"></script>
  <script charset="UTF-8" src="/controll/app/components/event/add/controller.js"></script>
  <script charset="UTF-8" src="/controll/app/components/event/list/controller.js"></script>
  <script charset="UTF-8" src="/controll/app/components/event/service.js"></script>
  <script charset="UTF-8" src="/controll/app/shared/api-client.js"></script>
  <script charset="UTF-8" src="/controll/app/shared/filters.js"></script>
  <link rel='stylesheet' href='/controll/assets/css/controll.css' type='text/css' media='all' />
  <ng-include src="'/controll/assets/html/wp-head.html'"></ng-include>
</head>
<body ng-controller="MainCtrl">
  <div class="status {{status_class}}">
    <span class="status-message">{{status}}</span>
    <a href="#" ng-click="clearStatus()">סגור</a>
  </div>
  <ng-include src="'/controll/assets/html/header.html'"></ng-include>
  <div id="primary" class="content-area">
    <div id="content" class="site-content" style="background-color: #292927; color:#ffffff;" role="main">
      <div class="container">
        <div class="col-md-10 login-info">
          <span ng-show="logged_in">
            <span><a href="/controll/user/registration">החשבון שלי</a></span>
          </span>
          <a href="#" ng-click="goTo(user_link)">{{login_message}}</a>
        </div>
        <div class="col-md-10" ng-view></div>
      </div>
    </div>
  </div>
  <ng-include src="'/controll/assets/html/footer.html'"></ng-include>
</body>
</html>

