<form ng-controller="EventAddCtrl" ng-submit="submit()">

  <p>
  <label class="form-label">פעילות:</label>
  <select ng-model="selected_activity">
    <option
        ng-repeat="activity in activities"
        value="{{activity.key}}"
        ng-selected="selected_activity == activity.key">
      {{activity.name}} ({{activity.submitted_by_user.name}})
    </option>
  </select>
  </p>

  <p>
  <label class="form-label">יום:</label>
  <select ng-model="day">
    <option value="24">ראשון</option>
    <option value="25">שני</option>
  </select>
  </p>

  <p>
  <label class="form-label">שעת התחלה:</label>
  <input type="text" ng-model="start_time" />
  </p>

  <input type="submit" id="submit" value="אישור" /><br />
</div>
