<div ng-controller='ActivityListCtrl'>

<div class='console'>
  <table>
    <thead>
      <th>#</th>
      <th>שם האירוע</th>
      <th>מגיש</th>
      <th>דוא"ל</th>
      <th>טלפון</th>
      <th>סוג</th>
      <th>טיזר</th>
      <th>משך</th>
      <th>סגנונות</th>
      <th>מספר משתתפים</th>
      <th>הגבלת גיל</th>
      <th>הגבלות שיבוץ</th>
      <th>הערות</th>
      <th>הוספת שיבוץ</th>
    </thead>
    <tbody>
      <tr ng-repeat="activity in activities">
        <td>{{$index + 1}}</td>
        <td><a href="/controll/activity/edit?id={{activity.id}}">{{activity.name}}</a></td>
        <td>{{activity.submitted_by_user.name}}</td>
        <td>{{activity.submitted_by_user.email}}</td>
        <td>{{activity.submitted_by_user.phone_number}}</td>
        <td>{{activity.activity_type | activity_type}}</td>
        <td><a href="#" ng-click="showBox(activity.teaser)">הצג</a></td>
        <td>{{activity.duration_minutes | duration}}</td>
        <td>{{activity.tags.join(', ')}}</td>
        <td>{{activity.minimum_participants}}-{{activity.maximum_participants}}</td>
        <td>{{activity.minimum_age}}-{{activity.maximum_age}}</td>
        <td>
          <div ng-repeat="t in activity.unavailable_times">{{t | unavailable_time}}</div>
        </td>
        <td><a href="#" ng-click="showBox(activity.notes)">הצג</a></td>
        <td>
          <form ng-submit="add_event[$index]()" class="small-form">
            יום:
            <select class="small-form" ng-model="event_day[$index]">
              <option value="24">ראשון</option>
              <option value="25">שני</option>
            </select>
            שעה:
            <input class="small-form" type="text" ng-model="event_start_time[$index]" />
            <input type="submit" id="submit" value="הוסף" /><br />
          </form>
        </td>
      </tr>
    </tbody>
  </div>
  </table>
</div>

<div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: block;" ng-show="show_box">
  <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 530px; height: auto; position: absolute; top: 109px; left: 687px; opacity: 1; overflow: visible;">
    <div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;">
      <div class="fancybox-outer">
        <div class="fancybox-inner" style="overflow: auto; width: 500px; height: auto;">
          <div style="width: 500px; display: block;">
            {{box_content}}
            <p>
              <button ng-click="hideBox()">סגור</button>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>

</div>
