<div ng-controller='ActivityListCtrl'>

<div class='console'>
  <table>
    <thead>
      <th>#</th>
      <th>שם האירוע</th>
      <th>מגיש</th>
      <th>סוג</th>
      <th>טיזר</th>
      <th>משך</th>
      <th>סגנונות</th>
      <th>מספר משתתפים</th>
      <th>הגבלת גיל</th>
      <th>הגבלות שיבוץ</th>
      <th>הערות</th>
      <th>הוספת שיבוץ</th>
    </thead>
    <tbody>
      <tr ng-repeat="activity in activities">
        <td>{{$index + 1}}</td>
        <td><a href="/controll/activity/edit?key={{activity.key}}">{{activity.name ? activity.name : "[חסר שם]"}}</a></td>
        <td>
          {{activity.submitted_by_user.name}}<br />
          {{activity.submitted_by_user.email}}<br />
          {{activity.submitted_by_user.phone_number}}<br />
        </td>
        <td>{{activity.activity_type | activity_type}}</td>
        <td><a href="#" ng-click="showBox(activity.teaser)">הצג</a></td>
        <td>{{activity.duration_minutes | duration}}</td>
        <td><a href="#" ng-click="showBox(activity.tags.join(', '))">הצג</a></td>
        <td>{{activity.minimum_participants}}-{{activity.maximum_participants}}</td>
        <td>{{activity.minimum_age}}-{{activity.maximum_age}}</td>
        <td>
          <div ng-repeat="t in activity.unavailable_times">{{t | unavailable_time}}</div>
        </td>
        <td><a href="#" ng-click="showBox(activity.notes)">הצג</a></td>
        <td>
          <form ng-submit="add_event[$index]()" class="small-form">
            יום:
            <select class="small-form" ng-model="event_day[$index]">
              <option value="24">ראשון</option>
              <option value="25">שני</option>
            </select><br />
            שעה:
            <input class="small-form" type="text" ng-model="event_start_time[$index]" />
            <br />
            <input type="submit" id="submit" value="הוסף" /><br />
          </form>
        </td>
      </tr>
    </tbody>
  </div>
  </table>
</div>

<div class="fancybox-overlay fancybox-overlay-fixed controll-fancybox-l1" ng-show="show_box">
  <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened controll-fancybox-l2" tabindex="-1">
    <div class="fancybox-skin controll-fancybox-l3">
      <div class="fancybox-outer controll-fancybox-l4">
        <div class="fancybox-inner controll-fancybox-l5">
          <div class="controll-fancybox-l6">
            <!-- This must NOT have spaces around it, because it behaves like a pre -->
            <div class="teaser">{{box_content}}</div>
            <p>
              <button ng-click="hideBox()">סגור</button>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>

</div>
