<div ng-controller='EventListCtrl'>

<div class='console'>
  <table>
    <thead>
      <th>#</th>
      <th>שם</th>
      <th>סוג</th>
      <th>שעת התחלה</th>
      <th>שעת סיום</th>
      <th>צוות</th>
      <th>משתתפים</th>
      <th>פרטים נוספים</th>
      <th>פעיל</th>
      <th>ביטול</th>
    </thead>
    <tbody>
      <tr ng-repeat="event in events">
        <td>{{$index + 1}}</td>
        <td><a href="/controll/activity/edit?key={{event.activity.key}}">{{event.activity.name}}</a></td>
        <td>{{event.activity.activity_type | activity_type}}</td>
        <td>{{event.start_time | date:'dd/MM HH:mm'}}</td>
        <td>{{event.start_time + event.activity.duration_minutes * 60 * 1000 | date:'dd/MM HH:mm'}}</td>
        <td>
          <ul>
            <li ng-repeat="p in event.crew">
              {{p.name}}
              <a href="#" ng-click="removeFromCrew($parent.$index, $index)">הסרה</a><br />
            </li>
          </ul>
          <form class="small-form">
            <select ng-model="added_crew_member[$index]">
              <option ng-repeat="user in users" value="{{$index}}">{{user.name}} ({{user.email}})</option>
            </select>
            <a href="#" ng-click="addToCrew($index)" >הוספה</a>
          </form>
        </td>
        <td>
          <ul>
            <li ng-repeat="p in event.participants">
              {{p.name}}
              <a href="#" ng-click="showCancelRegistrationBox($parent.$index, $index)">הסרה</a>
            </li>
          </ul>
          <form class="small-form">
            <select ng-model="added_participant[$index]">
              <option ng-repeat="user in users" value="{{$index}}">{{user.name}} ({{user.email}})</option>
            </select>
            <a href="#" ng-click="register($index)" >הוספה</a>
          </form>
        </td>
        <td>
          סגנונות: {{event.activity.tags.join(', ')}} <br />
          מספר משתתפים: {{event.activity.minimum_participants}}-{{event.activity.maximum_participants}} <br />
          הגבלת גיל: {{[event.activity.minimum_age, event.activity.maximum_age] | age_restriction}} <br />
        </td>
        <td>
          {{event.enabled ? 'כן' : 'לא'}} -
          <a href="#" ng-click="setEventEnabled(event, !event.enabled)">
            {{event.enabled ? 'הקפאה' : 'הפעלה'}}
          </a>
        </td>
        <td>
          <a href="#" ng-click="showCancelEventBox($index)">ביטול</a>
        </td>
      </tr>
    </tbody>
  </div>
  </table>
</div>

<div class="fancybox-overlay fancybox-overlay-fixed controll-fancybox-l1" ng-show="show_box">
  <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened controll-fancybox-l2" tabindex="-1">
    <div class="fancybox-skin controll-fancybox-l3">
      <div class="fancybox-outer controll-fancybox-l4">
        <div class="fancybox-inner controll-fancybox-l5">
          <div class="controll-fancybox-l6">
            <!-- This must NOT have spaces around it, because it behaves like a pre -->
            <div class="teaser">{{box_content}}</div>
            <p>
              <button ng-click="hideBox()" ng-show="show_close_box">סגור</button>
              <button ng-click="box_action()" ng-show="show_ok">כן</button>
              <button ng-click="hideBox()" ng-show="show_cancel">לא</button>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>

</div>

